@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@model PresentationEpiserver.Models.Pages.StartPage

<div>
    @Html.PropertyFor(m => m.MainContent)
</div>
<div>
    @Html.PropertyFor(m => m.MainBody)
</div>

<script type="text/javascript">
    $(document)
        .ready(function() {
            $('.navbar').css("background-color", "rgb(89, 81, 81)");
            $('.navbar').css("border-color", "rgb(89, 81, 81)");
            $('.navbar-collapse').css("border-color", "rgb(89, 81, 81)");
                $('.navbar-default .navbar-nav > li > a').css("color", "white");
                $('.navbar-brand > img').toggleClass("inverted");
                $('.navbar-default .navbar-nav > li > a')
                    .mouseenter(function() {
                        $(this).css("color", "orangered");
                    });
                $('.navbar-default .navbar-nav > li > a')
                    .mouseleave(function() {
                        $(this).css("color", "white");
                    });
        });
</script>

