
@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>

<ul>
    <li>@ViewBag.OnActionExecuted</li>
    <li>@ViewBag.OnActionExecuting</li>
    <li>@ViewBag.OnResultExecuted</li>
    <li>@ViewBag.OnResultExecuting</li>
</ul>