@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@model cloudnine.Models.Pages.StartPage


<div>
    @Html.PropertyFor(m => m.Header)
</div>
<div>
    @Html.PropertyFor(m => m.CasesBlockArea)
</div>
<div>
    @Html.PropertyFor(m => m.CustomersBlockArea)
</div>
<div>
    @Html.PropertyFor(m => m.ContactFormArea)
</div>