@using EPiServer
@using EPiServer.Core
@using EPiServer.ServiceLocation
@using PresentationEpiserver.Helpers
@using EPiServer.Web.Mvc.Html

<!DOCTYPE html>
<html>
<head>
    <title>Cloudnine</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/customStyle.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top customNavbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand custom-brand" href="#">
                    <img src="~/Content/Images/Logos/logotyp_cloudnine.png" width="100" height="20"/>
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse out" aria-expanded="true">
                <ul class="nav navbar-nav">
                    @{
                        bool displayBloggIcons = false;
                    }
                    @foreach (var item in Html.GetMenuItems())
                    {
                        string cssString = "nav-item ";

                        if (item.IsBloggPage)
                        {
                            cssString += "bloggPageLink ";
                        }
                        if (item.Active)
                        {
                            cssString += "active-link";
                        }
                        if (item.Active && item.IsBloggPage)
                        {
                            displayBloggIcons = true;
                        }
                        <li class="@cssString">
                            @Html.ContentLink(item.SitePageData.ContentLink)
                        </li>
                    }
                    @{
                        if (displayBloggIcons)
                        {
                            <li><a id="displayIndex" class="animationExeption" href="">INDEX</a></li>
                            <li><a id="displaySearch" class="animationExeption" href="">SÖK</a></li>
                        }
                    }
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <div class="centerContent hidden col-md-12">
        @RenderBody()

        <div id="goToTopp" class="animationExeption">
            <a class="goToTopp animationExeption" href=""><img src="~/Content/Images/Icons/small-left-arrow-icon.png" width="100" height="50" /></a>
        </div>
        @*@Html.Partial("_Footer")*@
    </div>
   
    <script src="~/Scripts/bootstrap.min.js"></script>

    <script src="~/Scripts/CustomScripts/ColorScript.js"></script>
    <script src="~/Scripts/CustomScripts/BloggIndexAndSearch.js"></script>
    <script src="~/Scripts/CustomScripts/MenuAnimation.js"></script>
</body>
</html>
@{
//todo: videojumbotron
//todo: Gör editläget bättre
//todo:-Meny /blogg sök och index 
//todo: -footer- gör socialMedia loggorna klara styla

//todo: fadningar i caseImages
//todo:-Meny gör den vit på sidor som inte är start
//todo: styla formuläret
//todo: fixa css.
//todo: fixa metadata
}