@using EPiServer
@using EPiServer.Core
@using EPiServer.ServiceLocation
@using EPiServer.Web.Mvc.Html

@model PresentationEpiserver.Models.Blocks.FooterColumnBlock
@{
    var contentLoader = ServiceLocator.Current.GetInstance<IContentLoader>();
    var startPage = contentLoader.Get<PresentationEpiserver.Models.Pages.StartPage>(ContentReference.StartPage);
    var numberOfColumnsInContentArea = startPage.FooterColumnArea.Count;

    string bootstrapColumns = "";
    switch (numberOfColumnsInContentArea)
    {
        case 1:
            bootstrapColumns = "col-lg-12";
            break;
        case 2:
            bootstrapColumns = "col-lg-6" ;
            break;
        case 3:
            bootstrapColumns = "col-lg-4";
            break;
        case 4:
            bootstrapColumns = "col-lg-3";
            break;
    }

    }

<div class="footerColumn @bootstrapColumns">
        @Html.PropertyFor(m => m.Content)
</div>