@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@model PresentationEpiserver.Models.Blocks.CustomersBlock

<div>
    <h2>@Html.PropertyFor(m => m.Header)</h2>
</div>
<div>
    @Html.PropertyFor(m => m.CustomersArea)
</div>