@using cloudnine.Helpers
@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@model cloudnine.Models.Blocks.JobbFeed
<div>

    @Html.PropertyFor(m => m.JobbFeedName)

    <div class="col-lg-12">
        <div class="previewBlock">
            @foreach (var item in Html.GetAllJobbs())
            {
                @item.HeadLine
                @item.MainBody
                <div class="customDivBtn"><a href="@Url.ContentUrl(item.ContentLink)"><p>Läs mer...</p></a></div>
            }
        </div>
    </div>
</div>
