@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Johan Thörner</h1>
    <p class="lead"></p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>MVC</h2>
        <p>Projekt i Mvc kommer snart...</p>

    </div>
    <div class="col-md-3">
        <h2>Javascript</h2>
        <p>Kommer snart..</p>
    </div>
    <div class="col-md-3">

        <h2>SharePoint</h2>
        <p>kommer snart...</p>
    </div>
    <div class="col-md-3">
        <h2>HTML5</h2>
        <p>kommer snart...</p>

    </div>
</div>