@{
    ViewBag.Title = "Home Page";
}
@model List<Presentation.Models.Post>
<div class="jumbotron">
    <h1>Johan Thörner</h1>
    <p class="lead"></p>
</div>
<div class="row">
    @foreach (var post in Model)
    {
        if (post.IsVisible)
        {
            <div class="col-md-3">
                <div class="textBoxar">
                    <h2>
                        @Ajax.ActionLink(
                            linkText: post.Title,
                            actionName: "projektInfo",
                            routeValues: new { ID = post.PostID },
                            ajaxOptions: new AjaxOptions
                            {
                                UpdateTargetId = "ProjektInfoDiv",
                                InsertionMode = InsertionMode.Replace
                            })
                    </h2>

                </div>
                
            </div>
           
        }
    }

</div>
<div id="ProjektInfoDiv"></div>