@using System.Collections
@model IEnumerable<Presentation.Models.PostCollection>

@{
    ViewBag.Title = "PostsDisplay";
}

<h2>PostsDisplay</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
    </tr>



</table>
