@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@model cloudnine.Models.Blocks.Customer

  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
     @Html.PropertyFor(i => i.CustomersLogoArea)
    </a>
  </div>
