@using cloudnine.Helpers
@using cloudnine.Models.Blocks
@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@model cloudnine.Models.Blocks.Cases
<div class="row">
  
    <div class="block">
        <div>
            @Html.PropertyFor(m => m.Name)
        </div>
        <div>
            @Html.PropertyFor(y => y.MainBody)
        </div>
    </div>
</div>