@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@model PresentationEpiserver.Models.Blocks.SmallBlogFeed

<div>
    <h2>@Html.PropertyFor(m => m.Header)</h2>
    <div>
        <ul class="blogList"></ul>

    </div>
</div>
<script type="text/javascript">

    var uri = 'http://localhost:7132/api/bloggs/en';

    $(document).ready(function () {
        // Send an AJAX request
        $.getJSON(uri)
            .done(function (data) {
                // On success, 'data' contains a list of products.
                $.each(data, function (key, item) {
                    // Add a list item for the product.
                    console.log(item.Header);
                    $('.blogList')
                        .append(
                            $('<li>').append(item.Header));

                    //$('<li>', { text: formatItem(item.Header) }).appendTo($('#blogs'));
                });
            });
    });

</script>