@using EPiServer.Core
@using EPiServer.Web.Mvc.Html
@using PresentationEpiserver.Helpers

@model PresentationEpiserver.Models.Blocks.SmallBlogFeed

<div>
    <h2>@Html.PropertyFor(m => m.Header)</h2>
    <div id="latestNews" class="col-lg-10 col-lg-offset-1"></div>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.0/jquery.matchHeight-min.js"></script>
<script src="~/Scripts/CustomScripts/SmallBlogFeedApiConnection.js"></script>
