@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@model PresentationEpiserver.Models.Blocks.FullColumnArticleBlock
<div class="col-lg-8 col-lg-offset-2 article">
    @Html.PropertyFor(m => Model.Image, new { ImageCssClass = "col-md-12" })

    <div class="col-lg-8 col-lg-offset-2">
        <h2>@Html.PropertyFor(m => m.Header)</h2>

        <p>@Html.PropertyFor(m => m.Text)</p>
    </div>
</div>
