@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@model cloudnine.Models.Blocks.CaseList

<div>
    @Html.PropertyFor(m => m.Name)
</div>
<div>
    @Html.PropertyFor(i => i.Ingress)
</div>
<div>
    @Html.PropertyFor(r => r.CaseRefference)
</div>