@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@model cloudnine.Models.Pages.Jobs

<div>
    @Html.PropertyFor(m => m.MainBody)
</div>
<div>
    @Html.PropertyFor(c => c.ContentAreaForJobbFeed)
</div>