@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@model PresentationEpiserver.Models.Blocks.SpacerBlock

<div class="row spacer">
    <div class="col-lg-8 col-lg-offset-2">
        <hr class="style-one" />
    </div>
</div>