@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@model cloudnine.Models.Blocks.Employes

<div>
    @Html.PropertyFor(n => n.Name)
</div>
<div>
    @Html.PropertyFor(e => e.EmployesPhotoArea)
</div>