@using cloudnine.Helpers
@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@model cloudnine.Models.Pages.CasePage

<div>
    @Html.PropertyFor(m => m.MainBody)
    @{
        foreach (var item in Html.GetMenuItems(Model.ContentLink))
        {
            <h1>@item.Name</h1>
        }
    }
   
</div>

