@model IEnumerable<WebbShop1.Models.SubCategory>
<div id="subMenu">
    @foreach (var item in Model)
    {
        <div class="subMenuItem">
            @Ajax.ActionLink(
        linkText: item.SubCategoryName,
        controllerName: "Home",
        actionName: "PrintProducts",
        routeValues: new { ID = item.SubCategoryId },
        ajaxOptions: new AjaxOptions
        {
            UpdateTargetId = "productMenuDiv",
            InsertionMode = InsertionMode.Replace
        })
            <br />
        </div>
    }
</div>