@using EPiServer.Web.Mvc.Html
@model PresentationEpiserver.Models.Pages.BloggPage

<div class="col-lg-8 col-lg-offset-2">
        @Html.PropertyFor(m => Model.Image, new {})
        @Html.PropertyFor(m => m.Header)
        @Html.PropertyFor(m => m.Text)
</div>