@using cloudnine.Helpers
@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@model cloudnine.Models.Pages.CasesPage

<div>
    @Html.PropertyFor(m => m.MainBody)
</div>
<div>
    @Html.PropertyFor(c => c.CasesArea)
</div>
  @{
      foreach (var item in Html.GetMenuItems(Model.ContentLink))
      {
        <h1>@item.Name</h1>
      }
    }