@media (min-width: 992px) {
  body {
    padding-top: 100px;
  }
}

.contentBox {
    padding-bottom: 300px;
}
body {
    height:100%
}

body .footer {
     margin-top: calc(100% + 300px);
     background: black !important;
     position: absolute;
     height: 300px;
     right: 0;
     left: 0;
     bottom: 0%;
     background-color: #efefef;
     text-align: center;

}
.footer p {
    text-align: left;
    padding-top: 30px;
    color: white;

}
.footer a {
    text-align: left;
    padding-top: 30px;
    color: rgb(246, 104, 40);

}
.footer img {
    padding-right: 30px;
    padding-bottom: 40px;
    padding-top: 40px;
}
body .CustomForm {
     margin-top: calc(100% + 300px);
     background: white !important;
     position: absolute;
     height: 300px;
     right: 100px;
     left: 100px;
     bottom: 0%;
     background-color: #efefef;
     text-align: center;
}

.bloggPreviewImage {
    padding-bottom: 195px;
}

.col-md-3 .caseBox {
    background-color: grey;
}
.centerContent{
    padding-bottom: 300px;
    padding-left: 0;
    padding-right: 0px;
}
.hidden {
    display: none;
}
.caseImage {
    margin-top: 20px;
    margin-bottom: 30px;
}

.casePresentaiton h4 { 
   position: absolute; 
   top: 300px; 
   left: -20px; 
   width: 100%; 
}

.regular {
   text-align: left;
   line-height: 2.8;
}

p {
    text-align: left;
}
.cases p {
    text-align: center;
}
.CustomForm button {
    border-radius: 2px;
    background-color:white;
    border-style: solid;
    color: black;
    padding: 15px 60px;
    margin: 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.GoToBloggPostButton {
    border-radius: 1px;
    background-color:white;
    border-style: solid;
    border-width: 1px;
    color: grey;
    padding: 9px 15px;
    margin : 20px 10px 60px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.GoToJobbPostButton {
  padding: 15px 60px 15px 60px !important;
    border-width: 2px !important;
    border-radius: 1px;
    background-color:white;
    border-style: solid;
    color: grey;
    margin : 20px 10px 60px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    letter-spacing: 2px !important;
}

.GoToJobbPostButton:hover {
    padding: 15px 60px 15px 60px !important;
    border-width: 2px !important;
    border-radius: 1px;
    background-color:white;
    border-style: solid;
    color: grey;
    margin : 20px 10px 60px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: #000000 !important;
    color: #ffffff !important;
    border-color: #000000 !important;
    letter-spacing: 2px !important;
}
.jobbPost {
    text-align: center;
}
.blockPadding {
    padding-top: 100px;
}
.blockPaddingSmall {
    padding-top: 50px;
}
.CustomForm input  {
    border-radius: 2px;
    background-color:white;
    border-style: solid;
    color: black;
    padding: 10px 185px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 7px;
}
.CustomForm h2  {
    padding: 30px 20px;
}

::-webkit-input-placeholder {
   text-align: left;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: left;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: left;  
}

:-ms-input-placeholder {  
   text-align: left; 
}

.pageinationList .ul {
    text-align: center;
}
.pageinationList > ul > li {
      float: left;
      list-style-type: none;
} 

.pageinationList > ul > li > a {
    padding: 10px;
    border-radius: 1px;
    background-color:white;
    border-style: solid;
    border-width: 1px;
    color: grey;
    text-decoration: none;
}

.pageinationList > ul > li a:hover {
    text-decoration: none;
    color: black;
    background: lightgray;
    border-color: grey;
}
.pageinationList > ul > li .selected:hover {
    color: white;
    background: grey;
    border-color: lightgray;
}
.pageinationList > ul > li .selected {
    color: white;
    background: grey;
}
.bloggFeedImage {
    padding-left: 0;
    padding-right: 0;
}
.logo {
    margin-top: 30px;
    margin-left: 20px;
}
.bloggDate {
    padding-top: 80px;
}
.bloggIngress {
    padding-top: 40px;
}
.bloggPreview {
    padding-top: 180px;
}
.navbar-nav {
    float: right;
    margin: 0;
}
.navbar-fixed-top {
    top: -100px;
}

.inverted {
    filter: invert(100%);
}
.contactBlockInfo {
    padding-top: 100px;
    padding-left: 60px; 
    padding-right: 60px; 
    padding-bottom: 110px; 
}
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
  }
 .carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}
.carousel-control.left, .carousel-control.right {
    background-image: none
}
.largeImage {
    padding-left: 0px;
    padding-right: 0px;
}
#goToTopp img {
    position: fixed;
    right: 40px;
    bottom: 40px;
    z-index: 2000;
}
.event h3 {
    text-align: left;
}
.latestNews h3 {
    text-align: left;
    padding-left: 13px;
}
.bloggIndex {
    display: none;
}
.bloggSearch {
    display: none;
}
.navbar-default .navbar-nav > li > .active-link > a {
    color: red;
}

.fot {
    background: grey;
}
.carousel-caption h3{
       text-align: left;
       display: none;
   }

