@using EPiServer.AddOns.Helpers
@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@model PresentationEpiserver.Models.Blocks.LinkButton

<div class="col-lg-6 col-lg-offset-3 jobbPost blockPaddingSmall">
    @Html.PageLink(Model.LinkToPage, null, new { @class = "GoToJobbPostButton" })
</div>

    




