@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@model cloudnine.Models.Blocks.Employes

<div>
    @Html.PropertyFor(m => m.Name)
</div>
<div>
   
    <img src="@Html.PropertyFor(p => p.EmployesPhotoArea)" alt="" />
</div>